<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>email form</title>
</head>
<body>

    <form class="form" action="/" method = "post" id="personform" name="personform">

        <p>name</p>
        <input type="text" name="name" id="personname" placeholder="Type your name here">
        <p>email</p>
        <input type="email" name="email" id="personemail" placeholder="Type your email here">
        <p>message</p>
        <input type="text" name="message" id="personmessage" placeholder="Type your message here">
        <button type="submit" value="send message" class="btn">Submit</button>
    </form>
    
    <script src="/js/app.js"></script>
</body>
</html>